---
import StatusIcon from './StatusIcon.tsx';
import { statusColors, type Status } from '../utils/project';
const { project } = Astro.props;
const title = project.anilist.title.romaji;
const image = project.anilist.bannerImage || project.anilist.coverImage.extraLarge;
const url = `/projects/${project.slug}`;
const colorName = statusColors[project.data.status as Status];
---
<a href={url} class="group relative block w-full aspect-[21/6] rounded-lg shadow-lg overflow-hidden">
  <div class="w-full h-full transform transition-transform duration-300 group-hover:scale-[1.03]">
    <div class="absolute inset-0 w-full h-full">
      <img 
        src={image} 
        alt={`Banner for ${title}`} 
        loading="lazy" 
        class="w-full h-full object-cover transition-transform duration-300 ease-in-out"
      />
    </div>
  <div class="absolute inset-0 bg-gradient-to-t from-black/80 to-transparent flex flex-col items-center justify-end text-center p-4">
    <div class="flex flex-col items-center gap-1">
      <h3 class="text-2xl font-bold text-white drop-shadow-lg">{title}</h3>
      {project.data.title_vietnamese && <p class="text-base text-gray-300 drop-shadow-lg">{project.data.title_vietnamese}</p>}
      <span class={`text-xs font-bold text-white px-2 py-1 rounded-md shadow-lg flex items-center bg-${colorName}-500 bg-opacity-90 backdrop-blur-sm mt-1`}>
        <StatusIcon status={project.data.status} class="w-3 h-3 mr-1" />
        {project.data.status}
      </span>
    </div>
  </div>
</div>
</a>
